// breakpoints
$screen-sm: 425px;
$screen-md: 769px;
$screen-lg: 1024px;
$banner-width: 1100px;
$screen-xlg: 1200px;

// media queries
$small-min-width: 'screen and (min-width: ' $screen-sm ')';
$medium-min-width: 'screen and (min-width: ' $screen-md ')';
$large-min-width: 'screen and (min-width: ' $screen-lg ')';
$banner-min-width: 'screen and (min-width: ' $banner-width ')';
$x-large-min-width: 'screen and (min-width: ' $screen-xlg ')';

// mixins
/* stylelint-disable */

// transition animation
@mixin transition($type, $time, $easing) {
  transition: $type ($time + s) $easing;
}

// media queries
@mixin sm-up {
  @media only #{$small-min-width} {
    @content;
  }
}

@mixin md-up {
  @media only #{$medium-min-width} {
    @content;
  }
}

@mixin lg-up {
  @media only #{$large-min-width} {
    @content;
  }
}

@mixin banner-width {
  @media only #{$banner-min-width} {
    @content;
  }
}

@mixin xlg-up {
    @media only #{$x-large-min-width} {
        @content;
    }
}